
body {
	background-color: black;
	width: 100vw;
	height: 100vh;
	margin: 0;
	font-family: 'ABeeZee', sans-serif;
}
div.container
{
	width: 100%;
	height: 100%;
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	overflow-x: hidden;
}
section.page
{

	position:relative;
	width:100vw;
	height:100vh;
	scroll-snap-align: start;

}

.flexWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction:column;
	width: 100vw;
	height: 100vh;
}
a.social{
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0.5vh solid lightgreen;
	background-color: transparent;
	border-radius: 100%;
	width: min(10vh, 10vw);
	height: min(10vh, 10vw);
	transition: background-color ease-in-out 0.1s, transform cubic-bezier(.58,.12,.6,2) 0.1s;
}
i.social, i.social:link {
	color: lightgreen;
	font-size: min(6vh, 6vw);
	transition: color ease-in-out 0.2s;
	text-decoration: none;
}
a.social:hover {
	background-color: lightgreen;
	transform: scale(1.2,1.2);
	text-decoration: none;
}
	a.social:hover  > .social {
		color: black;
	}
a.social:visited, a.social:link, i {
	text-decoration: none;
}
.flexWrapper.iconBar {
	flex-direction: row;
	position: absolute;
	height: min(15vh, 15vw);
	width: 0vw;
	justify-content: space-evenly;
	bottom: calc(-2vh * (var(--y) - 0.5 ) + 4vh);
	left: calc(2vw * (var(--x) - 0.5 ));
	animation: textOpen 1.5s cubic-bezier(.14,.66,.22,.92) 2.7s;
	animation-fill-mode: forwards;
	overflow-x: hidden;
	overflow-y: visible;
	flex-wrap:nowrap;
}
.expand {
	margin-left: -40vw;
	user-select: none;
	font-size: 15vw;
	position: relative;
	transform: scale(0.1);
	white-space: nowrap;
	animation: expand 1s cubic-bezier(0.94, 0.06, 0.31, 0.95) 1s,expand2 1s cubic-bezier(.14,.66,.22,.92) 2.5s;
	animation-fill-mode: forwards;
	letter-spacing: -2vw;
	color: lawngreen;
	text-shadow: 0px 0px 1vw black;
}
p.subText {
	font-size: max(2vw,1.6vh);
	color: lightgreen;
	position: relative;
	width: 0vw;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: clip;
	margin-top: calc(-50vh + 8vw);
	margin-left: 7vw;
	text-shadow: 0px 0px 0.5vw black;
	font-weight: 900;
	animation: textOpen 4s linear 2.7s;
	animation-fill-mode: forwards;
}
span.wave {
	z-index:10;
	animation: letterWave 0.3s cubic-bezier(.58,.12,.6,2) 1s;
	position: relative;
	animation-fill-mode: forwards;
}
span.wave:nth-child(1){
	animation-delay: 1.6s;
}
	span.wave:nth-child(2) {
		animation-delay: 1.7s;
	}
	span.wave:nth-child(3) {
		animation-delay: 1.8s;
	}
	span.wave:nth-child(4) {
		animation-delay: 1.9s;
	}

	span.wave:nth-child(5) {
		animation-delay: 2s;
	}

	span.wave:nth-child(6) {
		animation-delay: 2.1s;
	}
.shadow {
	position: absolute;
	top: 0vh;
	left: 0vh;
	animation: shadowFall 1s cubic-bezier(.14,.66,.22,.92) 2.5s;
	animation-fill-mode: forwards;
	opacity: 0;
	font-weight: 200;
}
.shadow {color: #69f326;}
.shadow>.shadow {color:  #57ea4c}
.shadow>.shadow>.shadow {color:  #44e173}
.shadow>.shadow>.shadow>.shadow {color:   #32d799}
.shadow>.shadow>.shadow>.shadow>.shadow {color:   #1fcebf}
.shadow>.shadow>.shadow>.shadow>.shadow>.shadow {color:  #0cc5e6}
.shadow>.shadow>.shadow>.shadow>.shadow>.shadow>.shadow {color:   #00bfff}
.shadow>.shadow>.shadow>.shadow>.shadow>.shadow>.shadow>.shadow  {color:   #00bfff}








span.shadowMask {
	z-index: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	-webkit-mask-image: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
	mask-image: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
	width: 200%;
	height: 55vh;
	text-shadow: 0px 0px 0px transparent;
}
.shadowRev {
	position: absolute;
	bottom:0px;
	right:0%;

	animation: shadowFallRev 1s cubic-bezier(.14,.66,.22,.92) 2.5s;
	animation-fill-mode: forwards;
	opacity: 0;
	font-weight: 200;
}
.shadowRev{color:  #90f500;}
.shadowRev>.shadowRev{color:   #a3ef00}
.shadowRev>.shadowRev>.shadowRev {color:  #b7e800}
.shadowRev>.shadowRev>.shadowRev>.shadowRev {color:   #cbe200}
.shadowRev>.shadowRev>.shadowRev>.shadowRev>.shadowRev {color:     #dedb00}
.shadowRev>.shadowRev>.shadowRev>.shadowRev>.shadowRev>.shadowRev {color: #f2d400}
.shadowRev>.shadowRev>.shadowRev>.shadowRev>.shadowRev>.shadowRev>.shadowRev {color:  #ffd000}
.shadowRev>.shadowRev>.shadowRev>.shadowRev>.shadowRev>.shadowRev>.shadowRev>.shadowRev {color:  #ffd000}



span.shadowMaskRev {
	position: absolute;
	bottom: 0px;
	z-index: 1;
	left: -100%;
	-webkit-mask-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
	mask-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
	width: 200%;
	height: 55vh;
	text-shadow: 0px 0px 0px transparent;
}

.parallaxBack {
	opacity: 0;
	animation: opacityIncrease 3s cubic-bezier(.14,.66,.22,.92) 2.5s;
	animation-fill-mode:forwards;
	z-index: -10;
	position: absolute;
	width: 200vw;
	height: 200vh;
	left: calc(-7vw * (var(--x) - 0.5 ) - 50vw);
	top: calc(-7vh * (var(--y) - 0.5) - 50vh);
}
	.parallaxBack.child {
		z-index: -10;
		left: calc(-7vw * (var(--x) - 0.5 ) + 25vw);
		top: calc(-7vh * (var(--y) - 0.5) + 25vh);
		filter: blur(10px) brightness(0.15);
	}
.grid {
	z-index: 1;
	position: absolute;
	width: 300vw;
	height: 300vh;
	background-size: 10vw 10vw;

	background-image: linear-gradient(to right, rgba(100,100,100,0.2) 2px,transparent 2px), linear-gradient(to bottom, rgba(100,100,100,0.2) 2px, transparent 2px);
}
@keyframes textOpen {
	0% {
		width:0vw;
	}

	100% {
		width: 100vw;
	}
}
@keyframes opacityIncrease
{
	0%{
		opacity:0;
	}
	100%{
		opacity:100%;
	}
}
@keyframes expand
{
	0%
	{
		transform: scale(0.1);
	}
	100% 
	{
		transform: scale(1);
	}
}
@keyframes expand2
{
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.2);
	}
}

@keyframes letterWave
{
	0% {
		bottom: 0vh;
		font-weight:400;
	}
	50% {
		bottom: 5vh;
		color: lawngreen;
		font-weight: 400;
	}
	100% {
		bottom: 0vh;
		font-weight: bolder;
		color: white;
		font-weight: 900;
	}
}
@keyframes shadowFall
{
	0% {
		top: 0vh;
		left: 0vw;
		opacity: 1;
	}
	100% {
		top: calc(-1vh * (var(--y) - 0.5 ) + max(6vh,0.4em));
		left: calc(-1vw * (var(--x) - 0.5 ) + 2vw);
		opacity: 1;
	}
}
@keyframes shadowFallRev {
	0% {
	bottom: 0vh;
		right: 0vw;
		opacity: 1;
	}

	100% {
		bottom: calc(1vh * (var(--y) - 0.5 ) + max(6vh,0.4em));
		right: calc(1vw * (var(--x) - 0.5 ) + 2vw);
		opacity: 1;
	}
}